@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.navbar {
  background-color: #a49ffc;
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
}
.title {
  display: flex;
}

.title-first-letter {
  font-size: 35px;
  margin-left: 30px;
  margin-top: 0px;
  font-family: Permanent Marker;
}

.title-name {
  font-size: 25px;
  margin: 7px 0px;
  font-family: Satisfy;
}

.home-btn {
  margin-right: 30px;
  border: none;
  background: none;
}

.home-img {
  height: 30px;
  transition: 0.5s all ease-in-out;
}

.home-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
