section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg {
  height: 350px;
  /* width: 100%; */
  margin: 30px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.uploaded {
  height: 300px;
  margin: 50px;
}

p {
  font-size: 20px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
